{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
 <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
 <div id="header">
 <span class="logo">Bookmarks</span>
 {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">My dashboard</a>
          </li>
        </ul>
      {% endif %}
      <span class="user">
        {% if request.user.is_authenticated %}
        <Tab style = "padding: 12px;">Hello {{ request.user.get_username }}</Tab>
        <Tab style = "padding: 12px"> <a href="{% url "logout" %}">Logout</a></Tab>
        <Tab style = "padding: 12px"> <a href="{% url "edit" %}">Edit Profile</a></Tab>
        <Tab style = "padding: 12px"> <a href="{% url "password_change" %}">password_change</a></Tab>

        {% else %}
          <a href="{% url "login" %}">Log-in</a>
        {% endif %}
      </span>
 </div>
 <div id="content">
 {% block content %}
 {% endblock %}
 </div>
</body>
</html>
